<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        <link rel="icon" type="image/x-icon" href="/static/images/fav.png">
</head>

<body style="background-color: rgb(20, 100, 0);"> 
  <!-- nav bar start -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/static/images/pic.png"  width="30" height="24" class="d-inline-block align-text-top">
                notesapp
              </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about">about</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/contact">contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/notes">notes</a>
              </li>
             
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
              {% if data is none %}
              <button class="btn btn-outline-danger mx-2" type="button">Login</button>
              <button class="btn btn-outline-primary" type="button">Signup</button>
              {% else %}
              <div class="dropdown mx-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{data}}
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/profile">update profile</a></li>
                  <li><a class="dropdown-item " href="/userlogout">Logout </a></li>
                 {% endif %}
                </ul>
              </div>
            </form>
          </div>
        </div>
      </nav>
        <!-- navbar end -->
  
        <!-- notes design  start -->

        <form method="post",enctype="multipart/form-data"> 
          {% csrf_token %}
          <div class="container my-3">

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">query title </label>
              <input type="text" name="query" class="form-control" id="exampleFormControlInput1" >
            </div>

            <!-- <div class="mb-3">
              <label for="formFile" class="form-label">choose file</label>
              <input class="form-control" name="myfile" type="file" id="formFile">
            </div> -->

            <div class="mb-3">
              <label for="formFile" class="form-label">Select your file's</label>
              <input class="form-control" name="myfile" type="file" id="formFile">
          </div>

            <label for="formFile" class="form-label">select type of query </label>
            <select class="form-select"  name="type_query" aria-label="Default select example">
             
              <option>python</option>
              <option>django</option>
              <option>java</option>
              <option>c++</option>
            </select>

            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">comment</label>
              <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary btn-lg">submit</button>
          </div>

        </form>
        <!-- notes design end -->

</body>

</html>